
div {
  background-color: navy;
  border-style: solid;
  border-color: gold;
  border-width: 15px;
  color: white;
  margin-left: auto;
  margin-right: auto;
  width: 550px;
  height: 600px;
}
h1 {
  text-align: center;
  margin-top: 50px;
  font-size: 2.5em;
}
section {
  margin-top: 50px;
  width: 450px;
  margin-left: auto;
  margin-right: auto;
}
h2 {
  margin: 25px;
}
p {
  margin: 25px;
}
